<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @header
         not nil? %>
        <%= @header.to_s %>
    <% else %>
        <%= 'Polyphemus' %>
    <% end %>
  </title>
  <%= csrf_meta_tags %>
  <h1 class="header text-center">Polyphemus</h1>
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body class="">

<%= yield %>

</body>
</html>
